{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}"/>

{% if latest_question_list %}
    <ul>
        {% for question in latest_question_list %}
            <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
<div>
    <span id="s-add">Add New Question</span>
    <form  action="{% url 'polls:add' %}" method="post">
        {% csrf_token %}
        <span>Question  <input type="text" id="question_text" name="question_text"></input></span>
    <form>
    <br/>
    <input type="submit" value="Add" />
</div>
